/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(67deg, rgba(31, 26, 130, 0.9164040616246498) 11%, rgba(9, 26, 121, 0.7931547619047619) 37%, rgba(0, 212, 255, 0.8183648459383753) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1a82", endColorstr="#00d4ff", GradientType=1);
  background-image: url(266471.jpg);
  height: 100vh;
  backdrop-filter: blur(0.2em);
  background-repeat: no-repeat;
  background-size: cover;
}

/* root */


/* ------------------------------------------------------------------------- */



/* Title */

.title-1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin: 0.8em auto;
  font-family: Aldrich;
  font-weight: bold;
  color: #FFFFFF;
  background: linear-gradient(to right, rgb(110 208 255 / 65%), rgb(57 215 186 / 85%));
  padding: 0 1.3em;
  text-align: center;
  border-radius: 1em;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

/* Title */


/* ------------------------------------------------------------------------- */



/* Exit-Form */

.exit-button {
  background-color: #555;
  color: white;
  padding: 30px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 65px;
  width: 100px;
}

.exit-formpopup {
  display: none;
  position: fixed;
  bottom: 8em;
  border: 3px solid #f1f1f1;
  z-index: 9;
  right: 5em;
  width: 15em;
  height: 20em;
}

.exit-formcontainer {
  padding: 10px;
  background-color: white;
  height: 100%;
}

.exit-cancel {
  background-color: red;
  float: right;
  text-align: center;
  width: 20%;
  padding: 5px;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
}

.exit-text {
  text-align: center;
  margin: 2em 1em 2em 1em;
  font-size: 1.5em;
}

.exit-btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Exit-Form */


/* ------------------------------------------------------------------------- */



/* Back-button */

.back-button {
  background-color: #555;
  color: white;
  padding: 19px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  height: 75px;
  left: 65px;
  width: 100px;
}

.bck-btn {
  width: 2.5em;
}

/* Back-button */


/* ------------------------------------------------------------------------- */



/* Login-SignUp */

.container-1 {
  height: 700px;
  width: 500px;
  background-color: white;
  box-shadow: 0px 0px 20px 5px #f9fafb;
  position: relative;
  overflow: hidden;
  margin: 3em auto;
  text-align: center;
}

.slider {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
  position: absolute;
  top: 20px;
  left: 100px;
  transition: all 0.5s ease-in-out;
}

.moveslider {
  left: 250px;
}

.btn-internal {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgb(254, 215, 188);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login,
.signup {
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.login-box {
  gap: 50px;
}

.login-box,
.signup-box {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.form-section {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form-section-move {
  left: -500px;
}

.login-box,
.signup-box {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.ele {
  height: 60px;
  width: 400px;
  outline: none;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
}

.signup-box .ele {
  margin: 1em 0;
}

.clkbtn,
.clkbtnr,
.clkbtnl {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.clkbtn {
  margin: 1em 0;
}

/* Login-SignUp */


/* ------------------------------------------------------------------------- */



/* Dashboard */

.dashmain {
  display: flex;
  margin: 16% auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dashbtn1,
.dashbtn2 {
  height: 8em;
  width: 18em;
  border-radius: 50em;
  background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
  font-size: 22px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 12% auto;
}

/* Dashboard */


/* ------------------------------------------------------------------------- */


/* Decrypt & Encrypt */
.fileupload {
  display: inline-flex;
  border-radius: 30px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1em 0 1em 0;
  width: 85%;
}

.fileupload:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 4);
  width: 100%;
}

.fileupload:hover {
  width: 85%;
}

.fileupload button:hover {
  width: 100%;
}

.fileupload input[type="file"]:hover {
  width: 85%;
}

.fileupload input[type="file"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  font-size: 10px;
  padding: 18px 0;
  border-radius: 50%;
  width: 85%;
}

.fileupload button {
  display: block;
  background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
  color: black;
  font-size: 32px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.encrypt-btn {
  background-image: linear-gradient(to right, rgb(252, 226, 189), rgb(255, 195, 110), rgb(255, 146, 91));
  font-size: 32px;
  padding: 12px 1.2em;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 1rem;
  width: 85%;
}

.encrypt-btn::placeholder {
  text-align: center;
  color: black;
  justify-content: middle;
}

.decrypt-btn {
  background-image: linear-gradient(to right, rgb(252, 226, 189), rgb(255, 195, 110), rgb(255, 146, 91));
  font-size: 32px;
  padding: 12px 1.2em;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 2rem;
  width: 85%;
}

.decrypt-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 4);
}

.decrypt-btn::placeholder {
  text-align: center;
  color: black;
  justify-content: middle;
}

h1 {
  font-size: 36px;
  margin: 5% auto;
  text-align: center;
}

.preview-e,
.preview-d {
  height: 55%;
  width: auto;
  margin: 1em;
}

#dvPreview {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border: 4px solid rgb(255, 146, 91);
  overflow: hidden;
  justify-content: center;
}
/* Decrypt & Encrypt */


/* ------------------------------------------------------------------------- */


/* Wrong Password */
.wrong-pass {
  padding: 10%;
  border-radius: 6rem;
  font-size: 2em;
  background-color: white;
  box-shadow: 0px 0px 20px 5px #f9fafb;
}
/* Wrong Password */




/* ------------------------------------------------------------------------- */


@media (max-width: 1440px) {
  .title-1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 0.8em auto;
    font-family: Aldrich;
    font-weight: bold;
    color: #FFFFFF;
    background: linear-gradient(to right, rgb(110 208 255 / 65%), rgb(57 215 186 / 85%));
    padding: 0 1.3em;
    text-align: center;
    border-radius: 1em;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  }

  .container-1 {
    height: 600px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 20px 5px #f9fafb;
    position: relative;
    overflow: hidden;
    margin: 3em auto;
    text-align: center;
  }

  .dashbtn1, .dashbtn2 {
    height: 7em;
    width: 16em;
    border-radius: 50em;
    background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
    font-size: 21px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 10% auto;
}

.fileupload {
  display: inline-flex;
  border-radius: 30px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1em 0 1em 0;
  width: 85%;
}

.fileupload:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 4);
  width: 100%;
}

.fileupload:hover {
  width: 85%;
}

.fileupload button:hover {
  width: 100%;
}

.fileupload input[type="file"]:hover {
  width: 85%;
}

.fileupload input[type="file"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  font-size: 10px;
  padding: 18px 0;
  border-radius: 50%;
  width: 85%;
}

.fileupload button {
  display: block;
  background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
  color: black;
  font-size: 32px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.encrypt-btn {
  background-image: linear-gradient(to right, rgb(252, 226, 189), rgb(255, 195, 110), rgb(255, 146, 91));
  font-size: 32px;
  padding: 12px 1.2em;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 1rem;
  width: 85%;
}

.encrypt-btn::placeholder {
  text-align: center;
  color: black;
  justify-content: middle;
}

.decrypt-btn {
  background-image: linear-gradient(to right, rgb(252, 226, 189), rgb(255, 195, 110), rgb(255, 146, 91));
  font-size: 32px;
  padding: 12px 1.2em;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 2rem;
  width: 85%;
}

.decrypt-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 4);
}

.decrypt-btn::placeholder {
  text-align: center;
  color: black;
  justify-content: middle;
}

h1 {
  font-size: 36px;
  margin: 5% auto;
  text-align: center;
}

.preview-e,
.preview-d {
  height: 55%;
  width: auto;
  margin: 1em;
}

#dvPreview {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border: 4px solid rgb(255, 146, 91);
  overflow: hidden;
  justify-content: center;
}
}

